<div class="container">
<!--   <div class="row">-->
<!--      <div class="col-xs-12">-->
<!--         <h3 class="margin-top-10">I'm in AppComponent</h3>-->
<!--         <hr>-->
<!--         <app-servers></app-servers>-->
<!--      </div>-->
<!--   </div>-->
<!--   <app-alert-warning message="Warning message from AppComponent"></app-alert-warning>-->
<!--   <app-alert-success message="Success message from AppComponent"></app-alert-success>-->

<!--   <hr>-->
<!--   <app-to-way-binding></app-to-way-binding>-->
<!--   <app-directives-example></app-directives-example>-->
<!--   <app-game-control (gameEvent)="gameControlValue = $event"></app-game-control>-->
<!--   <app-even *ngIf="isEven" [value]="gameControlValue"></app-even>-->
<!--   <app-odd *ngIf="isOdd" [value]="gameControlValue"></app-odd>-->

<!--   <h1>Users Events</h1>-->
<!--   <app-active-users></app-active-users>-->
<!--   <app-inactive-users></app-inactive-users>-->

<!--   <h1>TD Form Example</h1>-->
<!--   <app-td-form></app-td-form>-->
   <h1>Reactive Form Example</h1>
   <app-r-form></app-r-form>
</div>
